.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.ellipsis, .header .page-tt, .media-item .item-bd .bd-tt, .picker-item .select-list li, .filter-nav .line-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.justify, .panel--picker .panel-hd {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.line-list--indent, .media-list, .form {
  position: relative;
}

.line-list--indent::before, .media-list::before, .form::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
  z-index: 1;
}

.line-list--indent::after, .media-list::after, .form::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
  top: auto;
  bottom: 0;
}

.popover--header-more .popover-triangle {
  content: "";
  height: 0;
  width: 0;
  overflow: hidden;
}

.line-item {
  line-height: 34px;
  padding: 5px 10px;
  position: relative;
  display: block;
  overflow: hidden;
}

.line-item:active, .line-item:hover {
  background-color: #ededed;
}

.line-item:not(:first-of-type)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
}

.line-list--after-v .line-item::after, .media-list--after-v .media-item::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #ccc;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -1px;
  -webkit-transform: rotate(45deg) translate(0, -50%);
  -ms-transform: rotate(45deg) translate(0, -50%);
  transform: rotate(45deg) translate(0, -50%);
  box-sizing: border-box;
}

.btn, .btn-outline, .btn-primary, .btn-stress {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 1em;
  white-space: nowrap;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
  min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
  text-decoration: none;
  color: #333;
}

a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  vertical-align: middle;
}

button,
input,
select {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

optgroup {
  font-weight: bold;
}

input,
select,
textarea,
button {
  outline: 0;
}

textarea,
input {
  -webkit-user-modify: read-write-plaintext-only;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}

.placeholder {
  color: #999;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

i {
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.fs12 {
  font-size: 12px;
}

.grayc {
  color: #ccc;
}

.gray9 {
  color: #999;
}

.gray6 {
  color: #666;
}

.p10 {
  padding: 10px;
}

.plr10 {
  padding-left: 10px;
  padding-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mlr10 {
  margin-left: 10px;
  margin-right: 10px;
}

.full-width {
  width: 100%;
}

.pos-s {
  position: static !important;
}

.fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.icon-svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.icon-loading {
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.icon-checkbox, .icon-radio {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  color: #999;
  border: 1px solid currentColor;
  background-color: #fff;
  position: relative;
  top: -1px;
  margin-right: 5px;
  box-sizing: border-box;
}

.icon-checkbox.active, .icon-radio.active {
  color: #007aff;
}

.icon-checkbox.disabled, .icon-radio.disabled {
  color: #dbdbdb;
}

.icon-checkbox::after {
  content: "";
  height: 4px;
  width: 10px;
  border: 1px solid currentColor;
  border-width: 0 0 2px 2px;
  position: absolute;
  top: 1px;
  left: 3px;
  -webkit-transform: rotate(-52deg);
  -ms-transform: rotate(-52deg);
  transform: rotate(-52deg);
}

.icon-checkbox::before {
  content: "";
  width: 5px;
  height: 6px;
  background-color: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
}

.icon-radio {
  border-radius: 10px;
}

.icon-radio::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: currentColor;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.icon-switch {
  height: 30px;
  width: 50px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #ccc;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
}

.icon-switch::before {
  content: "";
  height: 30px;
  width: 50px;
  position: absolute;
  left: -50px;
  background-color: #099FDE;
  border-radius: 15px;
  transition: left 0.2s ease 0s;
  z-index: 2;
}

.icon-switch::after {
  content: "";
  height: 26px;
  width: 26px;
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: left 0.2s ease 0s;
  z-index: 3;
}

.icon-switch.active::before {
  left: 0;
}

.icon-switch.active::after {
  left: 22px;
}

.icon-v-right {
  position: relative;
}

.icon-v-right::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  box-sizing: border-box;
}

.icon-v-left {
  position: relative;
}

.icon-v-left::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 2px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  box-sizing: border-box;
}

.icon-search {
  position: relative;
}

.icon-search::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid currentColor;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border-radius: 50%;
  margin-left: -2px;
  margin-top: -2px;
}

.icon-search::after {
  content: "";
  background: currentColor;
  height: 6px;
  width: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 4px;
  margin-top: 4px;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.icon-cross {
  position: relative;
}

.icon-cross::before, .icon-cross::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 14px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: currentColor;
}

.icon-cross::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.icon-dots {
  position: relative;
}

.icon-dots::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
}

.icon-plus {
  position: relative;
}

.icon-plus::before, .icon-plus::after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.icon-plus::after {
  width: 2px;
  height: 16px;
}

.icon-right {
  position: relative;
}

.icon-right::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 8px;
  border-bottom: 2px solid currentColor;
  border-left: 2px solid currentColor;
  -webkit-transform: translate(-50%, -50%) rotate(-52deg);
  -ms-transform: translate(-50%, -50%) rotate(-52deg);
  transform: translate(-50%, -50%) rotate(-52deg);
  box-sizing: border-box;
  margin-top: -1px;
}

.icon-alert,
.icon-info,
.icon-question,
.icon-ok {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid currentColor;
  border-radius: 50%;
  line-height: 16px;
  text-align: center;
}

.icon-alert {
  color: #ff3b30;
}

.icon-alert::after {
  content: "!";
}

.icon-info {
  color: #007aff;
}

.icon-info::after {
  content: "i";
}

.icon-question {
  color: #007aff;
}

.icon-question::after {
  content: "?";
}

.icon-ok {
  color: #4cd964;
}

.icon-ok::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 2px;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  -webkit-transform: translate(-50%, -50%) rotate(-52deg) scale(1.5);
  -ms-transform: translate(-50%, -50%) rotate(-52deg) scale(1.5);
  transform: translate(-50%, -50%) rotate(-52deg) scale(1.5);
  margin-top: -1px;
}

.guide-title {
  margin: 10px 0 0 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.site-slogan {
  line-height: 60px;
  text-align: center;
  font-size: 20px;
}

.btn {
  padding: 0 1em;
  line-height: 42px;
  border-radius: 3px;
  color: #333;
  background-color: #f5f5f5;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn:hover, .btn:active {
  background-color: #e8e8e8;
}

.btn-outline {
  padding: 0 1em;
  line-height: 42px;
  border-radius: 3px;
  color: #007aff;
  background-color: #fff;
  border-color: #007aff;
}

.btn-outline:hover, .btn-outline:active {
  background-color: #f2f2f2;
  border-color: #147de2;
}

.btn-primary {
  padding: 0 1em;
  line-height: 42px;
  border-radius: 3px;
  color: #fff;
  background-color: #007aff;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #006ee6;
}

.btn-stress {
  padding: 0 1em;
  line-height: 42px;
  border-radius: 3px;
  color: #fff;
  background-color: #ff9500;
}

.btn-stress:hover, .btn-stress:active {
  background-color: #e68600;
}

.full-width[class^="btn"] {
  border-radius: 0;
}

.disabled[class^="btn"] {
  background-color: #e3e3e3 !important;
  color: #fff !important;
  cursor: default !important;
  pointer-events: none;
}

.btn-s {
  line-height: 28px;
  font-size: 12px;
}

.btn-m {
  line-height: 42px;
}

.actions {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.actions actions-btn {
  display: table-cell;
}

.actions .actions-btn {
  color: #007aff;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-sizing: border-box;
}

.actions .actions-btn:first-of-type {
  border-left: none;
}

.actions .actions-btn:active, .actions .actions-btn:hover {
  background: #e6e6e6;
}

.actions--full {
  display: block;
}

.actions--full .actions-btn {
  display: block;
  width: 100%;
  border-left: none;
}

.footer,
.header-sub {
  position: fixed;
  left: 0;
  right: 0;
}

.footer {
  bottom: 0;
  z-index: 2000;
}

.header-sub {
  top: 44px;
  z-index: 1000;
}

.page {
  width: 100%;
  padding-top: 44px;
}

.page.page--header-sub {
  padding-top: 88px;
}

.page.page--no-header {
  padding-top: 0;
}

.page.page--has-footer {
  padding-bottom: 48px;
}

.ios .page {
  position: absolute;
  top: 44px;
  bottom: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.ios .page.page--header-sub {
  top: 88px;
  padding-top: 0;
}

.ios .page.page--no-header {
  top: 0;
}

.ios .page.page--has-footer {
  bottom: 48px;
}

.transition {
  position: absolute;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.transition--right-in {
  -webkit-animation: pageRightIn 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  animation: pageRightIn 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.transition--left-out {
  -webkit-animation: pageLeftOut 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
  animation: pageLeftOut 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
}

.transition--left-in {
  -webkit-animation: pageLeftIn 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  animation: pageLeftIn 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.transition--right-out {
  -webkit-animation: pageRightOut 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
  animation: pageRightOut 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
}

@-webkit-keyframes pageRightIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pageRightIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes pageLeftOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
}

@keyframes pageLeftOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes pageLeftIn {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pageLeftIn {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes pageRightOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}

@keyframes pageRightOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}

.remind-num {
  position: absolute;
  border-radius: 10px;
  min-width: 17px;
  color: #fff;
  font-size: 12px;
  background-color: #ff9500;
  line-height: 1.2;
  text-align: center;
  padding: 0 4px;
  letter-spacing: 1px;
}

.remind-circle {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #ff9500;
}

.remind-wrap {
  position: relative;
}

.remind-wrap .remind-num,
.remind-wrap .remind-circle {
  top: 0;
  right: 0;
}

.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4000;
}

.active .overlay, .overlay.active {
  display: block;
}

.overlay.overlay--no-header {
  top: 44px;
}

.overlay.overlay--transparent {
  background: transparent;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background-color: #007aff;
  color: #fff;
  z-index: 1000;
}

.header .header-left {
  float: left;
  height: 44px;
}

.header .header-right {
  float: right;
  height: 44px;
}

.header .header-icon,
.header .header-btn {
  cursor: pointer;
}

.header .header-icon:hover,
.header .header-btn:hover {
  background-color: #0062cc;
}

.header .header-icon {
  width: 44px;
  height: 44px;
  float: left;
  position: relative;
}

.header .header-btn {
  padding: 0 10px;
  float: left;
  line-height: 44px;
}

.header .header-mix {
  float: left;
  padding-left: 20px;
  padding-right: 10px;
}

.header .header-mix .mix-txt {
  margin-left: 10px;
}

.header .icon-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  fill: #fff;
}

.header .page-tt,
.header .page-mutil-tt,
.header .page-select-tt {
  position: absolute;
  left: 88px;
  right: 88px;
}

.header .page-tt {
  line-height: 44px;
}

.header .page-tt .tt-l {
  line-height: 28px;
  display: block;
}

.header .page-tt .tt-s {
  line-height: 1;
  font-size: 12px;
  display: block;
}

.header .page-mutil-tt {
  font-size: 14px;
  line-height: 19px;
  padding-top: 4px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  height: 44px;
}

.header .page-tabs-tt {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 30px;
  padding: 1px;
  font-size: 14px;
}

.header .page-tabs-tt .tt-option {
  float: left;
  padding: 0 15px;
  color: #fff;
}

.header .page-tabs-tt .tt-option.active {
  background-color: #fff;
  color: #007aff;
}

.header .page-tabs-tt .tt-option:first-of-type {
  border-radius: 5px 0 0 5px;
}

.header .page-tabs-tt .tt-option:last-of-type {
  border-radius: 0 5px 5px 0;
}

.nav-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.nav-list .nav-item {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 1%;
}

.nav-list--bottom {
  background-color: #333;
  height: 48px;
  text-align: center;
  color: #999;
  font-size: 12px;
}

.nav-list--bottom li {
  padding-top: 27px;
  position: relative;
  cursor: pointer;
}

.nav-list--bottom li.active {
  color: #fff;
}

.nav-list--bottom .item-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -10px;
}

.nav-list--bottom .remind-circle,
.nav-list--bottom .remind-num {
  top: 3px;
  left: 50%;
  margin-left: 8px;
}

.nav-list--tab {
  line-height: 34px;
  background: #fff;
  border-bottom: 1px solid #dbdbdb;
}

.nav-list--tab .nav-item {
  position: relative;
  color: #333;
}

.nav-list--tab .nav-item.active {
  color: #007aff;
}

.nav-list--tab .nav-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #007aff;
}

.nav-list--btn {
  line-height: 32px;
}

.nav-list--btn .nav-item {
  background: #fff;
  border: 1px solid #dbdbdb;
  border-left-width: 0;
}

.nav-list--btn .nav-item:first-of-type {
  border-left-width: 1px;
  border-radius: 16px 0 0 16px;
}

.nav-list--btn .nav-item:last-of-type {
  border-radius: 0 16px 16px 0;
}

.nav-list--btn .nav-item.active {
  background: #007aff;
  color: #fff;
  border-color: #007aff;
}

.line-list {
  background: #fff;
}

.line-list + .line-list {
  margin-top: 10px;
}

.line-list--center {
  text-align: center;
}

.line-list--indent .line-item::before {
  left: 10px;
}

.line-list--after-v .line-item {
  padding-right: 30px;
}

.line-list--flex .line-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 0;
}

.line-list--flex .line-item .item-icon,
.line-list--flex .line-item .item-img,
.line-list--flex .line-item .icon-switch,
.line-list--flex .line-item .remind-num,
.line-list--flex .line-item .item-append {
  margin-right: 10px;
}

.line-list--flex .line-item .item-tt,
.line-list--flex .line-item .item-bd {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 10px;
  width: 1%;
}

.line-list--flex .line-item .bd-tt {
  line-height: 1.3;
  font-size: 16px;
  margin-bottom: 4px;
}

.line-list--flex .line-item .bd-txt {
  line-height: 1.5;
  color: #999;
  font-size: 12px;
}

.line-list--flex .line-item .item-append {
  color: #999;
}

.line-list--flex .line-item .icon-v-right {
  width: 30px;
  height: 30px;
  color: #ccc;
  margin-left: -10px;
}

.line-list--flex .line-item .remind-num {
  position: static;
  line-height: 1.5;
}

.line-list--select .line-item {
  padding-right: 30px;
}

.line-list--select .line-item.active {
  color: #007aff;
}

.line-list--select .line-item.active::after {
  content: "";
  display: block;
  width: 14px;
  height: 8px;
  border-bottom: 2px solid currentColor;
  border-left: 2px solid currentColor;
  -webkit-transform: rotate(-52deg) translate(0, -50%);
  -ms-transform: rotate(-52deg) translate(0, -50%);
  transform: rotate(-52deg) translate(0, -50%);
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -4px;
}

.line-list--multi-select .active {
  color: #007aff;
}

.line-list--multi-select .active .icon-checkbox {
  color: #007aff;
}

.toast-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 4000;
  display: none;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.toast-wrap.active {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.toast {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  white-space: nowrap;
  z-index: 4005;
  border-radius: 5px;
  position: relative;
}

.toast .toast-icon {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.toast--loading {
  border-radius: 10px;
}

.toast--loading .icon-loading {
  fill: #fff;
  width: 28px;
  height: 28px;
  display: block;
  margin: 0 auto;
}

.toast--loading.has-close {
  padding: 15px;
  width: 100px;
}

.toast--loading.has-close .icon-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 20px;
}

.toast--loading.has-close .toast-text {
  margin-top: 10px;
}

.dialog-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 4000;
  display: none;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dialog-wrap.active {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dialog {
  position: relative;
  width: 280px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 4005;
}

.dialog .dialog-bd {
  padding: 20px 10px;
  text-align: center;
}

.dialog .dialog-bd .bd-tt {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 10px;
}

.dialog .dialog-bd .bd-txt.txt--left {
  text-align: left;
}

.dialog .dialog-ft {
  overflow: hidden;
  text-align: center;
  line-height: 44px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dialog .dialog-ft .ft-btn {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 1%;
}

.dialog .dialog-ft button {
  line-height: normal;
  height: 44px;
  border: none;
  background: transparent;
}

.dialog .dialog-ft .ft-btn {
  position: relative;
}

.dialog .dialog-ft .ft-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
}

.dialog .dialog-ft .ft-btn:nth-of-type(1)::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 0;
  bottom: 0;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
  border-left: 1px solid #dbdbdb;
  left: auto;
  right: 0;
}

.dialog .dialog-ft .ft-btn:first-of-type {
  border-bottom-left-radius: 5px;
}

.dialog .dialog-ft .ft-btn:last-of-type {
  border-bottom-right-radius: 5px;
}

.dialog .dialog-ft .ft-btn:hover, .dialog .dialog-ft .ft-btn:active {
  background: #f5f5f5;
}

.dialog .dialog-ft.ft--full {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dialog .dialog-ft.ft--full .ft-btn {
  width: 100%;
  border-left: none;
}

.dialog .dialog-ft.ft--full .ft-btn:first-of-type::after {
  display: none;
}

.dialog .dialog-ft.ft--full .ft-btn:first-of-type {
  border-bottom-left-radius: 0;
}

.dialog .dialog-ft.ft--full .ft-btn:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.popover {
  position: fixed;
  color: #fff;
  z-index: 4000;
}

.popover .line-list {
  background: #006ee6;
}

.popover .line-item {
  line-height: 36px;
  padding: 0 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.popover .line-item .item-icon {
  margin-right: 5px;
}

.popover--header-more {
  top: 44px;
  right: 5px;
  padding-top: 7px;
}

.popover--header-more .popover-triangle {
  position: absolute;
  top: 1px;
  right: 10px;
  border-bottom: 6px solid #006ee6;
  border-left: 6px dashed transparent;
  border-right: 6px dashed transparent;
}

.cell-list {
  background: #fff;
  position: relative;
  overflow: hidden;
}

.cell-list::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
}

.cell-list .cell-item {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
  padding: 15px 0;
}

.cell-list .cell-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
  top: auto;
  bottom: 0;
}

.cell-list .cell-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 0;
  bottom: 0;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
  border-left: 1px solid #dbdbdb;
  left: auto;
  right: 0;
}

.cell-list .cell-item:nth-of-type($cellNum)::after {
  display: none;
}

.cell-list .cell-item .item-icon {
  width: 24px;
  height: 24px;
}

.cell-list--square .cell-item {
  padding-top: 25%;
  padding-bottom: 0;
  height: 0;
}

.cell-list--square .item-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card-list {
  overflow: hidden;
}

.card-list .card-item {
  position: relative;
  width: 50%;
  float: left;
}

.card-list .card-item .item-img-wrap {
  position: relative;
  padding-top: 100%;
  height: 0;
}

.card-list .card-item .item-img-wrap .item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-list .card-item .item-img {
  width: 100%;
}

.card-list .card-item .item-tt {
  line-height: 30px;
}

.card-list--border {
  background: #fff;
  position: relative;
}

.card-list--border::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
}

.card-list--border .card-item {
  padding: 10px !important;
}

.card-list--border .card-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
  top: auto;
  bottom: 0;
}

.card-list--border .card-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 0;
  bottom: 0;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
  border-left: 1px solid #dbdbdb;
  left: auto;
  right: 0;
}

.card-list--border .card-item:nth-of-type(2n)::before {
  display: none;
}

.card-list--gap {
  padding-left: 5px;
  padding-right: 5px;
}

.card-list--gap .card-item {
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.media-item {
  width: 100%;
  padding: 10px;
  position: relative;
  display: block;
  padding-left: 80px;
  min-height: 80px;
}

.media-item:not(:first-of-type)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
  left: 10px;
}

.media-item:active, .media-item:hover {
  background: #f5f5f5;
}

.media-item .item-img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
}

.media-item .item-bd .bd-tt {
  font-weight: normal;
}

.media-item .item-bd .bd-txt {
  font-size: 12px;
  color: #999;
}

.media-list {
  background: #fff;
}

.media-list--after-v .media-item {
  padding-right: 30px;
}

.media-list--right .media-item {
  padding-right: 70px;
}

.media-list--right .media-item .item-right {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tool-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  height: 34px;
}

.tool-bar li {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 1%;
}

.tool-bar li {
  position: relative;
}

.tool-bar .tool-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.fixed-quick-tool {
  position: fixed;
  right: 10px;
  bottom: 80px;
  color: #fff;
}

.fixed-quick-tool .tool-switch {
  width: 44px;
  height: 44px;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  transition: -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.fixed-quick-tool .tool-switch .icon-plus {
  display: block;
  width: 44px;
  height: 44px;
}

.fixed-quick-tool .tool-list {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.fixed-quick-tool .tool-item {
  width: 30px;
  height: 30px;
  position: absolute;
  background: #007aff;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s linear, -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: opacity 0.3s linear, transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: opacity 0.3s linear, transform 0.3s cubic-bezier(0.42, 0, 0.58, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fixed-quick-tool.active .tool-switch {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fixed-quick-tool.active .tool-item {
  opacity: 1;
}

.fixed-quick-tool.active .tool-item:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translateX(-80px);
  -ms-transform: rotate(0deg) translateX(-80px);
  transform: rotate(0deg) translateX(-80px);
}

.fixed-quick-tool.active .tool-item:nth-of-type(1) .item-icon {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.fixed-quick-tool.active .tool-item:nth-of-type(2) {
  -webkit-transform: rotate(30deg) translateX(-80px);
  -ms-transform: rotate(30deg) translateX(-80px);
  transform: rotate(30deg) translateX(-80px);
}

.fixed-quick-tool.active .tool-item:nth-of-type(2) .item-icon {
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.fixed-quick-tool.active .tool-item:nth-of-type(3) {
  -webkit-transform: rotate(60deg) translateX(-80px);
  -ms-transform: rotate(60deg) translateX(-80px);
  transform: rotate(60deg) translateX(-80px);
}

.fixed-quick-tool.active .tool-item:nth-of-type(3) .item-icon {
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.fixed-quick-tool.active .tool-item:nth-of-type(4) {
  -webkit-transform: rotate(90deg) translateX(-80px);
  -ms-transform: rotate(90deg) translateX(-80px);
  transform: rotate(90deg) translateX(-80px);
}

.fixed-quick-tool.active .tool-item:nth-of-type(4) .item-icon {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.f-text,
.f-textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #dbdbdb;
}

.f-text {
  height: 44px;
  padding: 7px 5px;
}

.f-text.f-text--right-icon {
  padding-right: 30px;
}

.f-textarea {
  height: 100px;
  line-height: 1.5;
  resize: none;
}

.form {
  background: #fff;
}

.form-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  line-height: 44px;
  overflow: hidden;
}

.form-item:not(:first-of-type)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
}

.form-item .item-label {
  width: 90px;
  padding-left: 10px;
}

.form-item .item-field {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 1%;
}

.form-item .item-field .f-text {
  display: block;
  border: 0 none;
  width: 100%;
  box-sizing: border-box;
}

.form-item .item-field .icon-input-clear {
  height: 44px;
}

.form-item .item-append {
  margin-right: 10px;
  color: #999;
}

.form-item .item-append + .icon-v-right {
  margin-left: -10px;
}

.form-item .img-captcha {
  margin-left: 10px;
}

.form-item .icon-v-right {
  display: block;
  width: 30px;
  height: 44px;
  color: #ccc;
}

.form--no-label .f-text,
.form--no-label .f-textarea {
  border: 0 none;
  padding-left: 10px;
  padding-right: 10px;
}

.icon-input-clear {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0;
}

.icon-input-clear::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #ccc;
  color: #fff;
}

.icon-input-clear .icon-cross {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
}

.icon-input-clear .icon-cross::before, .icon-input-clear .icon-cross::after {
  height: 10px;
}

.header-panel,
.bottom-panel {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 4005;
  background: #fff;
}

.header-panel {
  top: 44px;
}

.bottom-panel {
  bottom: 0;
}

.panel--picker {
  display: none;
}

.active .panel--picker {
  display: block;
}

.panel--picker .panel-hd {
  background: #f5f5f5;
  line-height: 44px;
  color: #007aff;
}

.panel--picker .panel-hd .hd-btn {
  padding: 0 15px;
}

.picker-list,
.picker-item {
  overflow: hidden;
  position: relative;
}

.picker-item {
  background-color: #fff;
  height: 180px;
  box-sizing: border-box;
}

.picker-item .select-list {
  text-align: center;
  line-height: 36px;
  color: #ccc;
}

.picker-item .select-list li.active {
  color: #333;
}

.picker-item::before, .picker-item::after {
  content: "";
  height: 1px;
  background-color: #007aff;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -18px;
}

.picker-item::after {
  margin-top: 18px;
}

.picker-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 60%, white 100%);
}

.picker-list {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.picker-list .picker-item {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 1%;
}

.picker-tips {
  text-align: center;
}

.panel--filter {
  top: 44px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 176px;
}

.filter-nav {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.filter-nav::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 0;
  bottom: 0;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
  border-left: 1px solid #dbdbdb;
  left: auto;
  right: 0;
  z-index: auto;
}

.filter-nav:last-of-type {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 1%;
  background-color: #fff;
}

.filter-nav:last-of-type::before {
  display: none;
}

.filter-nav .line-list {
  background: transparent;
}

.filter-nav:nth-of-type(1) {
  width: 80px;
  background-color: #f5f5f5;
}

.filter-nav:nth-of-type(1) .line-item.active {
  background: #fafafa;
}

.filter-nav:nth-of-type(2) {
  width: 100px;
  background-color: #fafafa;
}

.filter-nav:nth-of-type(2) .line-item.active {
  background: #fff;
}

.panel--actionsheet {
  background: #f5f5f5;
  display: none;
}

.active .panel--actionsheet {
  display: block;
}

.panel--actionsheet .line-list {
  position: relative;
}

.panel--actionsheet .line-list::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
  top: auto;
  bottom: 0;
}

.panel--actionsheet .line-list:last-of-type::after {
  top: 0;
  bottom: auto;
}

.search-block {
  background-color: #f5f5f5;
  padding: 7px;
  position: relative;
}

.search-block .search-ele-wrap {
  position: relative;
}

.search-block .search-text {
  border: 0 none;
  border-radius: 15px;
  background-color: #fff;
  width: 100%;
  height: 30px;
  padding: 5px 30px;
}

.search-block .icon-search {
  position: absolute;
  top: 0;
  left: 0;
  color: #999;
  width: 30px;
  height: 30px;
}

.search-block .icon-loading {
  position: absolute;
  right: 5px;
  top: 7px;
}

.search-block .btn-voice {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  padding-top: 7px;
  top: 0;
}

.search-block--center .search-ele-wrap {
  background: #fff;
  text-align: center;
  border-radius: 15px;
  color: #999;
}

.search-block--center .icon-search {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  text-align: center;
}

.search-block--cancel .search-ele-wrap {
  position: relative;
  margin-right: 40px;
}

.search-block--cancel .search-cancel {
  line-height: 44px;
  padding: 0 10px;
  color: #007aff;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.alone-back {
  position: absolute;
  left: 0;
  top: 10px;
  width: 44px;
  height: 44px;
  z-index: 4000;
}

.alone-back .icon-v-left {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}

.alone-back.back--overlay {
  border-radius: 50%;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
}

.alone-back.back--black .icon-v-left {
  color: #333;
}

.infinite-loading {
  text-align: center;
  line-height: 3;
}

.infinite-loading .loading-animate {
  display: inline-block;
  vertical-align: middle;
}

.infinite-loading .loading-dotted {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  float: left;
  margin-left: 6px;
  color: #333;
  background: currentColor;
  -webkit-animation: loadingFade 1s linear infinite;
  animation: loadingFade 1s linear infinite;
}

.infinite-loading .loading-dotted:nth-of-type(2) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.infinite-loading .loading-dotted:nth-of-type(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes loadingFade {
  0% {
    background: rgba(51, 51, 51, 0.2);
  }
  100% {
    background: currentColor;
  }
}

@keyframes loadingFade {
  0% {
    background: rgba(51, 51, 51, 0.2);
  }
  100% {
    background: currentColor;
  }
}

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-webkit-slider-container,
input[type=range]::-webkit-media-slider-container {
  height: 44px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #ccc;
  border-radius: 1px;
  border: 0 none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-webkit-slider-thumb,
input[type=range]::-webkit-media-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #007aff;
  border-radius: 50%;
  display: block;
  margin-top: -10px;
  border: 0 none;
  box-shadow: none;
}

.range-wrap {
  position: relative;
}

.range-wrap:before {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  background: #ccc;
  top: 21px;
  z-index: 0;
}

.range-wrap input[type=range] {
  position: relative;
  z-index: 2;
}

.range-all {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}

.range-all .range-value {
  width: 40px;
  text-align: center;
  line-height: 44px;
}

.range-all .range-wrap {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 1%;
}

.circle-progress {
  position: relative;
  width: 100px;
  height: 100px;
  border: 4px solid #dbdbdb;
  border-radius: 50%;
  box-sizing: border-box;
}

.circle-progress .progress-num {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.circle-progress .circle-left,
.circle-progress .circle-right {
  width: 50px;
  height: 100px;
  position: absolute;
  top: -4px;
  overflow: hidden;
}

.circle-progress .circle-left {
  left: -4px;
}

.circle-progress .circle-right {
  right: -4px;
}

.circle-progress .right-inner,
.circle-progress .left-inner {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  border: 4px solid #007aff;
  box-sizing: border-box;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.circle-progress .right-inner {
  right: 0;
  clip: rect(0, 50px, 100px, 0);
}

.circle-progress .left-inner {
  left: 0;
  transition-delay: 0.5s;
  clip: rect(0, 100px, 100px, 50px);
}

.circle-progress .left-inner if $circleProgressBottom {
  transition: -webkit-transform 0.4s 0.45s linear;
  transition: transform 0.4s 0.45s linear;
  transition: transform 0.4s 0.45s linear, -webkit-transform 0.4s 0.45s linear;
}

.bar-progress {
  position: relative;
  height: 2px;
  background: #dbdbdb;
  overflow: hidden;
  border-radius: 2px;
}

.bar-progress .progress-percent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #007aff;
  border-radius: 2px;
}

.circle-svg-progress {
  width: 100px;
  height: 100px;
}

.tag-list {
  overflow: hidden;
}

.tag-list .tag-item {
  float: left;
  padding: 0 10px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #fff;
  white-space: nowrap;
}

.tag-list--border .tag-item {
  line-height: 30px;
}

.tag-list--border .tag-item.active {
  color: #fff;
  background: #007aff;
}

.tag-list--bg .tag-item {
  border: 1px solid #dbdbdb;
  line-height: 28px;
}

.tag-list--bg .tag-item.active {
  color: #007aff;
  background: #fff;
  border-color: currentColor;
}

.stepper {
  position: relative;
  padding: 0 30px;
  width: 100px;
  background: #fff;
  border-radius: 5px;
}

.stepper .stepper-plus,
.stepper .stepper-minus {
  position: absolute;
  top: 0;
  border: 1px solid #dbdbdb;
  height: 30px;
  width: 30px;
  color: #666;
}

.stepper .stepper-plus {
  right: 0;
  border-radius: 0 5px 5px 0;
}

.stepper .stepper-plus::before, .stepper .stepper-plus::after {
  content: "";
  height: 2px;
  width: 12px;
  background: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.stepper .stepper-plus::after {
  height: 12px;
  width: 2px;
}

.stepper .stepper-minus {
  left: 0;
  border-radius: 5px 0 0 5px;
}

.stepper .stepper-minus::before {
  content: "";
  height: 2px;
  width: 12px;
  background: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.stepper .stepper-num {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-width: 1px 0;
  height: 30px;
  text-align: center;
}

.stepper--mini {
  width: 60px;
  height: 30px;
}

.stepper--mini .stepper-plus {
  border-left: 0;
}

.article {
  padding: 20px 10px;
  background: #fff;
}

.article .tt-2,
.article .tt-3 {
  line-height: 1.3;
  margin-bottom: 10px;
  font-weight: bold;
}

.article p {
  margin-bottom: 10px;
}

.article .article-img {
  max-width: 100%;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  padding: 2px;
}

.article .list-disc,
.article .list-decimal {
  list-style: disc;
  margin-left: 16px;
  margin-bottom: 10px;
}

.article .list-decimal {
  list-style: decimal;
}

.equal--gap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.equal--gap .line-equal-item {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 1%;
}

.equal--gap .line-equal-item:not(:first-of-type) {
  margin-left: 10px;
}

.equal--item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.equal--item::before, .equal--item::after {
  content: "";
}

.equal--item .line-equal-item {
  width: 60px;
}
