@charset "UTF-8";

//-----------------------------------------------------
// card list
//-----------------------------------------------------

$cardGap:              10px !default;
$carLineNum:           2 !default;
$cardGapEdge:          true !default;
$cardFlexSwitch:       true !default;

$cardBorderSwitch:     true !default;

.card-list {
	@if $cardFlexSwitch {
		display: flex;
		flex-wrap: wrap;
	} @else {
		overflow: hidden;
	}
	@if $cardBorderSwitch{
		background: #fff;
		position: relative;
		&::before{
			content: "";
			@include retina-one-px-border(top);
		}
	}

	.card-item {
		position: relative;
		width: 100% / $carLineNum;
		
		@if not $cardFlexSwitch {
			float: left;
		}

		@if $cardBorderSwitch{
			padding: $cardGap !important;
			&::after{
				content: "";
				@include retina-one-px-border(bottom);
			}
			&:nth-of-type(2n+1){
				&::before{
					content: "";
					@include retina-one-px-border(right);
				}
			}
		} @else {
			margin-bottom: $cardGap;
			&:nth-of-type(2n) {
				padding-left: $cardGap / 2;
				@if $cardGapEdge {
					padding-right: $cardGap;
				}
			}
			&:nth-of-type(2n+1) {
				padding-right: $cardGap / 2;
				@if $cardGapEdge {
					padding-left: $cardGap;
				}
			}
		}
		
		.item-inner {
		}
		.item-img {
			width: 100%;
		}
		.item-tt {
			line-height: 30px;
		}
	}
}