@charset "UTF-8";

//-----------------------------------------------------
// dialog.scss
//-----------------------------------------------------
.dialog-wrap{
    @include fixed(all);
    @include center-flex(both);
    z-index: $zIndexOverlay;
    display: none;
    flex-direction: column;
    &.active{
        display: flex;
    }
}

.dialog{
    display: none;
    width: 280px;
    background: #fff;
    border-radius: $radiusBase;
    overflow: hidden;
    z-index: $zIndexOverlay + 5;
    .dialog-bd{
        padding: 20px 10px;
        text-align: center;
        .bd-tt{
            font-size: 16px;
            font-weight: bold;
            line-height: 1.3;
            margin-bottom: 10px;
        }
        .bd-txt{
            &.txt--left{
                text-align: left;
            }
        }
    }
    .dialog-ft{
        overflow: hidden;
        text-align: center;
        line-height: $barHeight;
        @include equal-flex(ft-btn);
        button{
            line-height: normal;
            height: $barHeight;
            border: none;
            background: transparent;
        }
        .ft-btn{
            position: relative;
            &::before{
                content: "";
                @include retina-one-px-border;
            }
            &:nth-of-type(1){
                &::after {
                    content: "";
                    @include retina-one-px-border(right);
                }
            }
            &:hover,
            &:active{
                background: $colorF;
            }
        }
        &.ft--full{
            flex-direction: column;
            .ft-btn{
                width: 100%;
                border-left: none;
                &:first-child{
                    &::after{
                        display: none;
                    }
                }
            }
        }
    }
}