
$pinWidth:          100px !default;
$pinHeight:         30px !default;
$pinTextColor:      #666 !default;
$pinBtnBg:          #fff !default;
$pinBorderColor:    $colorBorder !default; 


.pin-plus-minus{
	position: relative;
	padding: 0 $pinHeight;
	width: $pinWidth;
	background: $pinBtnBg;
	.pin-plus,
	.pin-minus{
		position: absolute;
		top: 0;
		border: 1px solid $pinBorderColor;
		height: $pinHeight;
		width: $pinHeight;
		color: $pinTextColor;
	}
	.pin-plus{
		right: 0;
		&::before,
		&::after{
			content: "";
			height: 2px;
			width: 12px;
			background: currentColor;
			@include center-translate(both);
		}
		&::after{
			height: 12px;
			width: 2px;
		}
	}
	.pin-minus{
		left: 0;
		&::before{
			content: "";
			height: 2px;
			width: 12px;
			background: currentColor;
			@include center-translate(both);
		}
	}
	.pin-num{
		width: 100%;
		border: 1px solid $pinBorderColor;
		border-width: 1px 0;
		height: $pinHeight;
		text-align: center;
	}
}

.pin-plus-minus--mini{
	width: $pinHeight * 2;
	height: $pinHeight;
	// padding: 0;
	// .pin-plus,
	// .pin-minus{
	// 	position: relative;
	// 	display: block;
	// }
	.pin-plus{
		border-left: 0;
	}
}