@charset "UTF-8";

//-----------------------------------------------------
// scroll-select.scss
//-----------------------------------------------------

$scrollSelectHeight:             180px !default;

.scroll-select-group,
.scroll-select{
    overflow: hidden;
    position: relative;   
}
// .scroll-select {
//     background-color: #fff;
//     font-size: 16px;
//     .select-list {
//         text-align: center;
//         line-height: 24px;
//         li {
//             @extend %ellipsis;
//         }
//         .xl {
//             font-size: 24px;
//             color: $blue;
//             line-height: $barHeight;
//         }
//         .l {
//             font-size: 20px;
//             line-height: 34px;
//         }
//     }
// }
.scroll-select {
    background-color: #fff;
    height: $scrollSelectHeight;
    font-size: 16px;
    box-sizing: border-box;
    .select-list {
        text-align: center;
        line-height: 36px;
        color: $colorC;
        li {
            @extend %ellipsis;

            &.active{
                color: $color3;
            }
        }

    }
    &::before, &::after {
        content: "";
        height: 1px;
        background-color: $blue;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -18px;
    }
    &::after {
        margin-top: 18px;
    }
}
.select-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events:none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 100%);
}
.scroll-select-group{
    position: relative;
    @include equal-flex(scroll-select);
}

.scroll-select-tips{
    text-align: center;
}