@charset "UTF-8";

//-----------------------------------------------------
// teacher-center.scss
//-----------------------------------------------------

// banner
.section-teacher-banner{
    background: url(../images/teacher-banner.png) no-repeat;
    background-size: auto 112px;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;

    .teacher-name{
        line-height: 2;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .teacher-avatar{
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
}

// icon
.icon-role,
.icon-pin-list,
.icon-msg,
.icon-feedback {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
}
.icon-role{
    background-image: url(../images/icon-role.png);
}
.icon-pin-list{
    background-image: url(../images/icon-pin-list.png);
}
.icon-msg{
    background-image: url(../images/icon-msg.png);
}
.icon-feedback{
    background-image: url(../images/icon-feedback.png);
}

// line-list teacher center
.line-list--teacher-center{
    > .line-item{
        align-items: flex-start;
        &::before{
            left: 44px;
        }
        > .icon-v-right{
            margin-top: 2px;
        }
        .item-icon{
            margin-top: 5px;
        }
    }
    .line-item--level{
        .line-list{
            margin-right: -10px;
        }
    }
}
.line-item--level {
    .level-tt{
        color: #999;
    }
    .line-item{
        padding-left: 0;
        &::before{
            display: none;
        }
    }
}