@charset "UTF-8";

$colorLink: #333;

// 导入[sandal](https://github.com/marvin1023/sandal) 
@import "../../sandal/core";
@import "../../sandal/ext/helper";
@import "../../sandal/ext/icons";

body{
	background: $colorF;
}

.guide-title{
    margin: 10px 0 0 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 3;
}
.site-slogan{
	line-height: 60px;
	text-align: center;
	font-size: 20px;
}
.article{
	padding: 20px 10px;
	p{
		margin-bottom: 20px;
	}
}


// btn
//-------------------------------------------------
@import "../../components/btn";

// layout
//-------------------------------------------------
@import "../../components/layout";

// header
//-------------------------------------------------
@import "../../components/header";

// footer nav
//-------------------------------------------------
@import "../../components/nav";

// line list
//-------------------------------------------------
@import "../../components/line-list";

// toast
//-------------------------------------------------
@import "../../components/toast";

// dialog
//-------------------------------------------------
@import "../../components/dialog";

// cell-list
//-------------------------------------------------
@import "../../components/cell-list";

// card-list
//-------------------------------------------------
@import "../../components/card-list";

// media-list
//-------------------------------------------------
@import "../../components/media-list";

// tool
//-------------------------------------------------
@import "../../components/tool";

// actionsheet
//-------------------------------------------------
@import "../../components/actionsheet";

// form
//-------------------------------------------------
@import "../../components/form";

// scroll select
//-------------------------------------------------
@import "../../components/scroll-select";

// filter
//-------------------------------------------------
@import "../../components/filter";

// search
//-------------------------------------------------
@import "../../components/search";

// alone-back
//-------------------------------------------------
@import "../../components/alone-back";

// infinite-loading
//-------------------------------------------------
@import "../../components/infinite-loading";

