@charset "UTF-8";

$colorLink:                      #333;
$colorBg:                        #f5f5f5;

// 导入[sandal](https://github.com/marvin1023/sandal) 
@import "../../sandal/core";
@import "../../sandal/ext/helper";
@import "../../sandal/ext/icons";

.guide-title{
    margin: 10px 0 0 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 10px;
}
.site-slogan{
	line-height: 60px;
	text-align: center;
	font-size: 20px;
}

// btn
//-------------------------------------------------
@import "../../components/btn";

// layout
//-------------------------------------------------
@import "../../components/layout";

// remind
//-------------------------------------------------
@import "../../components/remind";

// overlay
//-------------------------------------------------
@import "../../components/overlay";

// header
//-------------------------------------------------
@import "../../components/header";

// footer nav
//-------------------------------------------------
@import "../../components/nav";

// line list
//-------------------------------------------------
@import "../../components/line-list";

// toast
//-------------------------------------------------
@import "../../components/toast";

// dialog
//-------------------------------------------------
@import "../../components/dialog";

// popover
//-------------------------------------------------
@import "../../components/popover";

// cell-list
//-------------------------------------------------
@import "../../components/cell-list";

// card-list
//-------------------------------------------------
@import "../../components/card-list";

// media-list
//-------------------------------------------------
@import "../../components/media-list";

// tool
//-------------------------------------------------
@import "../../components/tool";

// form
//-------------------------------------------------
@import "../../components/form";

// panel
//-------------------------------------------------
@import "../../components/panel";

// picker
//-------------------------------------------------
@import "../../components/picker";

// filter
//-------------------------------------------------
@import "../../components/filter";

// actionsheet
//-------------------------------------------------
@import "../../components/actionsheet";

// search
//-------------------------------------------------
@import "../../components/search";

// alone-back
//-------------------------------------------------
@import "../../components/alone-back";

// infinite-loading
//-------------------------------------------------
@import "../../components/infinite-loading";

// range
//-------------------------------------------------
@import "../../components/range";

// progress
//-------------------------------------------------
@import "../../components/progress";

// tag
//-------------------------------------------------
@import "../../components/tag";

// stepper
//-------------------------------------------------
@import "../../components/stepper";

// article
//-------------------------------------------------
@import "../../components/article";

// line-equal
//-------------------------------------------------
@import "../../components/line-equal";

